.about-product {
  padding-right: 16px;
  padding-left: 15px;
}

@media (max-width: $not-desktop-width) {
  .about-product {
    width: 100%;
  }
}

@media (min-width: $tablet-width) {
  .about-product {
    padding-right: 0px;
    padding-left: 0px;
  }
}

@media (min-width: $desktop-width) {
  .about-product {
    padding-left: 6px;
    padding-right: 9px;
  }
}
