.slider {
  padding-top: 16px;
  margin-bottom: 90px;
}

.slider__image-active-wrapper {
  margin-bottom: 39px;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 490px;
}

.slider__preview {
  display: flex;
}

.slider__button {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 1px solid $button-border-color;
  background: url('/img/arrow-icon.svg') center no-repeat white;

  &:disabled {
    opacity: 50%;
  }
  &:nth-child(1) {
    transform: rotate(180deg);
  }
}

@media (min-width: $rubber-width) {
  .slider {
    width: 600px;
    margin-right: 54px;
  }

  .slider__image-active-wrapper {
    height: 375px;
  }

  .slider__preview img:not(:nth-last-child(1)) {
    margin-right: 25px;
  }
}
