.slider {
  margin-bottom: 18px;
}

.slider__wrapper {
  display: none;
}

@media (min-width: $tablet-width) {
  .slider {
    margin-bottom: 60px;
  }

  .slider__image-active-wrapper {
    width: 728px;
    margin-bottom: 35px;
  }
  .slider__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 0 auto;
  }

  .slider__preview {
    display: flex;
  }

  .slider__preview img:not(:nth-last-child(1)) {
    margin-right: 25px;
  }

  .slider__button {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 1px solid $button-border-color;
    background: url('/img/arrow-icon.svg') center no-repeat white;

    &--disabled {
      opacity: 0.5;
    }

    &:nth-child(1) {
      transform: rotate(180deg);
    }
  }
}

@media (min-width: $desktop-width) {
  .slider {
    margin-right: 54px;
    margin-bottom: 90px;
    padding-top: 16px;
  }

  .slider__image-active-wrapper {
    width: 600px;
    margin-bottom: 32px;
  }
}
