// перемменные для цветов
$font-color: #48494d;
$font-opacity-color: rgba(72, 73, 77, 0.5);
$font-contacts-color: #1a212f;
$background-color: #f5f5f9;
$active-color: #d12136;
$button-border-color: #d7d9df;
$background-modal-color: rgba(53, 52, 52, 0.6);

//переменные для ширины экрана
$desktop-width: 1169px;
$rubber-width: 1024px;
$form-width: 698px;
$form-height: 415px;
