// перемменные для цветов
$font-color: #48494d;
$font-opacity-color: rgba(72, 73, 77, 0.5);
$background-color: #f5f5f9;
$button-color: #d12136;

//переменные для ширины экрана
$desktop-width: 1169px;
$rubber-width: 1024px;
